<div class="homepage">
  <h1>欢迎来汉子</h1>
  <h2>Welcome to Hanzi</h2>
  <div class="wrap">
    <div id="left_col">
      <h3>About Hanzi</h3>
      <br>
        <p>Hanzi is a browser-based educational tool to learn Chinese characters.</p>
    </div>
    <div id="right_col">
      <h3>关于汉字</h3>
      <br>
        <p>汉字是一个万维网浏览器教育用具.</p>
    </div>
  </div>
  <div class="button">
    <% if user_signed_in? %>
      <%= link_to '<button type="button">Select a Flashcard Set</button>'.html_safe, flashcard_sets_path %>
        <%= link_to '<button type="button">Sign out</button>'.html_safe, destroy_user_session_path %>
      <% else %>
        <%= link_to '<button type="button">Sign up</button>'.html_safe, new_user_registration_path %>
        <%= link_to '<button type="button">Sign in</button>'.html_safe, new_user_session_path %>
    <% end %>
  </div>
</div>
