<div class="flashcard_set">
  <div class="flashcard_set_links">
    <% @flashcard_sets.each do |flashcard_set| %>
      <p><%= flashcard_set.name %></p>
      <%= link_to '<button type="button">Start Set</button>'.html_safe, flashcard_set_flashcard_path(flashcard_set, flashcard_set.flashcards.first) %>
    <% end %>
  <p id="back_button"><%= link_to '<button type="button">Back to homepage</button>'.html_safe, root_path %>
  </p>
</div>
