<% if user_signed_in? %>

  <% @flashcard_sets.each do |flashcard_set| %>
    <%= link_to '<button type="button">Start Set</button>'.html_safe, flashcard_set_flashcard_path(flashcard_set, flashcard_set.flashcards.first) %>
  <% end %>




  
    <%= link_to '<button type="button">Sign out</button>'.html_safe, destroy_user_session_path %>
  <% else %>
    <%= link_to '<button type="button">Sign up</button>'.html_safe, new_user_registration_path %>
    <%= link_to '<button type="button">Sign in</button>'.html_safe, new_user_session_path %>
<% end %>

<%#= link_to '<button type="button">Create account</button>'.html_safe, new_user_registration_path%>
<%#= link_to '<button type="button">Sign out</button>'.html_safe, destroy_user_session_path%>
