<div id="flashcard">
  <% @flashcard_set.flashcards.each do |flashcard| %>
    <p id="flashcard_set_character_view"><%= flashcard.character %></p>
    <p><%= flashcard.pinyin %></p>
    <p><%= flashcard.english_translation %></p>
    <%= link_to 'View Card', flashcard_set_flashcard_path(@flashcard_set, flashcard) %>
  <% end %>
</div>
