<!DOCTYPE html>
<html>
<head>
  <title>Hanzi</title>
  <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="width:800px; margin:0 auto;">
  <%= yield %>
</div>
</body>
</html>
